@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root {

    --hero-text-color: rgba(255, 255, 255, 1);
    --description-text-color: #DCD7C9;

    --first-color: #fff;
    --second-color: #111;
    --third-color: #A27B5C;

    --button-color: #A27B5C;
    --button-text-color: #fff;

    --nav-background-color: rgba(0, 0, 0, 0.9);
    --gradient-background-color: rgba(0, 0, 0, 0.6);
    --first-background-color: #2C3639;
    --second-background-color: #2C3639;
    --footer-background-color: #111;

    --shadow-border-arrow-color: rgba(0, 0, 0, 0.35);

    --body-font: 'Rubik', sans-serif;

    --header-font-size: 30px;
    --description-font-size: 17px;
    --nav-font-size: 22px;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --z-fixed: 999
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font)
}

.container {
    max-width: 1296px;
    padding: 30px 10px 15px 10px;
    margin: 0 auto;
}

.header {
    color: var(--hero-text-color);
    font-size: var(--header-font-size);
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.description {
    color: var(--description-text-color);
    font-size: var(--description-font-size);
    margin-bottom: 30px;
    line-height: 140%;
}

.button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
}

.link {
    background-color: transparent;
    color: var(--button-text-color);
    border-radius: 5px;
    padding: 5px 5px;
    text-transform: uppercase;
    font-weight: var(--font-medium);
}

img {
    width: 100%;
}

li {
    list-style: none;
    color: var(--first-color);
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--first-color);
}

header {
    position: relative;
    background-image: url(./assets/img/backgroundHeader.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.header__gradient {
    position: absolute;
    background-color: var(--gradient-background-color);
    height: calc(100% - 60px);
    top: 60px;
    left: 0;
    width: 100%;
}

.nav__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: var(--z-fixed);
}

.nav__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--nav-background-color);
    padding: 0px 10px;
    height: 100%;
}

.nav__links {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--second-color);
    padding: 10px 30px;

}

.nav__links.active {
    display: flex;
}

.nav__logo {
    width: 100%;
    text-align: center;
}

.nav__logo img {
    width: 120px;
}

.toggle__menu {
    border: none;
    background: none;
    color: var(--first-color);
}


.nav__item--parent {
    cursor: default;
}

.nav__link-item {
    width: 100%;
}

.nav__link,
.nav__item--parent {
    padding: 25px 0px;
    width: 100%;
}

.nav__item--parent .nav__link {
    width: 75%;
}

.nav__links .gold {
    background-color: var(--button-color);
}

.nav__sublist {
    display: none;
    background-color: var(--second-color);
    height: 200px;
    visibility: hidden;
    opacity: 0;
    margin: 30px;
}

.nav__item--parent:hover>.nav__sublist {
    display: block;
    max-height: 200px;
    visibility: visible;
    opacity: 1;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
}

.hero__information-place,
.hero__information-open,
.hero__information-phone {
    display: none;
}

.hero__text-container {
    margin: 40px;
}

.hero__socials-container {
    display: flex;
    gap: 30px;
}

.our-barber {
    background-color: #2C3639;
    text-align: center;
}

.our-barber__header {
    margin-bottom: 30px;
}

.our-barber__header span {
    color: var(--third-color);
}

.our-barber__opening-hours {
    color: var(--first-color);
    border: 2px solid var(--third-color);
    border-radius: 10px;
    padding: 20px;
}

.our-barber__table-opening-hours {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.our-barber__day-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}