@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root {

    --hero-text-color: rgba(255, 255, 255, 1);
    --description-text-color: #DCD7C9;

    --first-color: #fff;
    --second-color: #111;
    --third-color: #A27B5C;

    --button-color: #A27B5C;
    --button-text-color: #fff;

    --nav-background-color: rgba(0, 0, 0, 0.9);
    --gradient-background-color: rgba(0, 0, 0, 0.6);
    --first-background-color: #2C3639;
    --second-background-color: #2C3639;
    --footer-background-color: #111;

    --shadow-border-arrow-color: rgba(0, 0, 0, 0.35);

    --body-font: 'Rubik', sans-serif;

    --header-font-size: 30px;
    --description-font-size: 17px;
    --nav-font-size: 22px;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --z-fixed: 999
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font)
}

section {
    padding: 30px 10px 15px 10px;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

.header {
    color: var(--hero-text-color);
    font-size: var(--header-font-size);
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.description {
    color: var(--description-text-color);
    font-size: var(--description-font-size);
    margin-bottom: 30px;
    line-height: 140%;
}

.button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
}

.link {
    background-color: transparent;
    color: var(--button-text-color);
    border-radius: 5px;
    padding: 5px 5px;
    text-transform: uppercase;
    font-weight: var(--font-medium);
}

img {
    width: 100%;
}

li {
    list-style: none;
    color: var(--first-color);
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--first-color);
}

header {
    position: relative;
    background-image: url(./assets/img/backgroundHeader.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.header__gradient {
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, var(--first-background-color) 0%, rgba(1, 1, 1, 0.4) 100%);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

header :where(.nav__container, .nav__bar, .hero) {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav__container {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    z-index: var(--z-fixed);
    background-color: var(--nav-background-color);
    justify-content: center;
}

.nav__bar {
    justify-content: space-between;
    padding: 0px 10px;
    max-width: 1296px
}

.nav__links {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 55px;
    left: 0;
    width: 100%;
    background-color: var(--second-color);
    padding: 10px 30px;

}

.nav__links.active {
    display: flex;
}

.nav__logo {
    width: 100%;
    text-align: center;
}

.nav__logo img {
    width: 120px;
}

.toggle__menu {
    border: none;
    background: none;
    color: var(--first-color);
}


.nav__item--parent {
    cursor: default;
}

.nav__link-item {
    width: 100%;
}

.nav__link,
.nav__item--parent {
    padding: 25px 0px;
    width: 100%;
}

.nav__links .gold {
    background-color: var(--button-color);
}

.nav__sublist {
    display: none;
    background-color: var(--second-color);
    height: 200px;
    visibility: hidden;
    opacity: 0;
    margin: 30px;
}

.nav__sublist.active {
    display: block;
    max-height: 200px;
    visibility: visible;
    opacity: 1;
}

.hero {
    position: relative;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.hero__information-place,
.hero__information-open,
.hero__information-phone {
    display: none;
}

.hero__text-container {
    margin: 40px;
}

.hero__socials-container {
    display: flex;
    gap: 30px;
}

main :where(.our-barber__table-opening-hours, .photos, .our-barber__day-container, .price-list__buttons-container, .price-list__price-list-container, .price-list__box, .our-services__container) {
    display: flex;
    align-items: center;
}

.our-barber {
    background-color: #2C3639;
    text-align: center;
}

.our-barber__header {
    margin-bottom: 30px;
}

.our-barber__header span {
    color: var(--third-color);
}

.our-barber__opening-hours {
    color: var(--first-color);
    border: 2px solid var(--third-color);
    border-radius: 10px;
    padding: 20px;
}

.our-barber__table-opening-hours {
    flex-direction: column;
    align-items: normal;
    gap: 20px;
}

.our-barber__day-container {
    justify-content: space-between;
}

.priece-list {
    background-color: #3F4E4F;
    text-align: center;
    min-height: 510px;
}

.price-list__buttons-container {
    align-content: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.price-list__button {
    background: none;
    border: none;
    color: var(--first-color);
    font-weight: var(--font-medium);
}

.price-list__button.active {
    color: #A27B5C;
}

.price-list__price-list-container {
    flex-direction: column;
    width: 100%;
    padding: 0 15px;
}

.price-list__box {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    color: var(--first-color);

}

.price-list__name {
    text-transform: uppercase;
    font-weight: var(--font-regular);
}

.price-list__box span {
    position: relative;
    color: var(--third-color);
}

.price-list__box span::after {
    content: "...........................";
    position: absolute;
    top: 0;
    left: -500%;
    font-size: 20px;
    color: var(--first-color);
}

.our-services {
    background-color: var(--first-background-color);
    text-align: center;
    color: var(--first-color);
}

.our-services__header span {
    color: var(--third-color);
}

.our-services__container {
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.our-services__service {
    background-color: var(--second-color);
}

.our-services__text-container {
    padding: 50px 15px;
}

.our-services__title {
    font-size: 24px;
    padding-bottom: 20px;
}

.photos {
    flex-direction: column;
    margin: 0 auto;
    padding: 0px;
}

.photos__img-second-row {
    display: none;
}

.footer {
    background-color: var(--second-color);
    color: var(--first-color);
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 30px 10px;
}

.footer__header {
    font-weight: var(--font-medium);
    font-size: 28px;
    color: var(--third-color);
    margin: 15px 0px;
}

.footer__navlink-item,
.footer__city,
.footer__postcode,
.footer__tel {
    margin-bottom: 10px;
}

.footer__socials-container svg {
    margin-right: 30px;
}

@media screen and (min-width:768px) {
    .container {
        padding: 35px 15px 35px 15px;
    }

    .our-barber__container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .our-barber__left-container,
    .our-barber__right-container {
        width: 50%;
    }

    .our-barber__description {
        text-align: start;
        width: 90%;
        margin: 0;
    }

    .price-list__price-list-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
    }

    .price-list__box {
        width: 45%;
        margin: 0;
    }

    .our-services__container {
        flex-direction: row;
        gap: 30px;
        justify-content: space-between;
    }

    .our-services__service {
        width: 45%;
    }

    .photos {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .photos__img-second-row {
        display: block;
        width: 33.333%;
    }

    .photos__img {
        width: 33.333%;
    }

    .footer {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }

    .footer__socials-container svg {
        margin-right: 10px;
    }
}

@media screen and (min-width:1024px) {
    .container {
        padding: 40px 30px;
    }

    .our-services__container {
        flex-direction: row;
        gap: 0px;
        justify-content: space-between;
    }

    .our-services__service {
        width: 31%;
    }
}

@media screen and (min-width:1200px) {
    :root {

        --header-font-size: 48px;
        --description-font-size: 17px;
        --nav-font-size: 22px;
    }

    header {
        background-position: top;
        height: 80vh;
    }

    .toggle__menu {
        display: none;
    }

    .nav__links {
        display: flex;
        position: static;
        background-color: transparent;
        flex-direction: row;
        padding: 0;
        height: 100%;
        gap: 40px;
        width: 50%;
        order: 2;
        justify-content: space-between;
    }

    .nav__link:hover {
        color: #A27B5C;
    }

    .nav__logo {
        order: 1;
        width: 150px;
    }

    .nav__logo img {
        width: 100%
    }

    .nav__link-item {
        border: 2px solid transparent;
        text-align: center;
    }

    .nav__item--parent {
        position: relative;
    }

    .nav__sublist {
        display: block;
        position: absolute;
        top: 59%;
        left: -30px;
        padding: 20px 30px;
        height: auto;
    }

    .nav__item--parent:hover>.nav__sublist {
        display: block;
        max-height: auto;
        visibility: visible;
        opacity: 1;
    }

    .hero {
        text-align: start;
        align-items: start;
        max-width: 1296px;
        margin: 0 auto;
    }

    .hero__text-container {
        max-width: 700px;
    }

    .hero__information-container {
        margin-left: 40px;
    }

    .our-barber__opening-hours .our-barber__header {
        font-size: 38px;
    }

    .our-barber__container {
        align-items: start;
    }

    .our-barber__opening-hours {
        padding: 50px 20px;
    }

    .our-barber__day-container {
        font-size: 20px;
    }

    .price-list__buttons-container {
        gap: 30px;
        margin-bottom: 50px;
    }

    .price-list__button {
        font-size: 18px;
    }

    .price-list__name {
        font-size: 18px;
    }

    .price-list__price {
        font-size: 20px;
    }

    .price-list__box span::after {
        content: ".....................................................";
        position: absolute;
        left: -750%;
    }

    .nav__link-item-gold {
        border: 2px solid #A27B5C;
        border-radius: 10px;
        transition: all 0.3s;
    }

    .nav__link-item-gold:hover {
        border: 2px solid #fff;
        color: #A27B5C;
    }
}